[user]
    name = Xiangyun Yang
    email = xiangyun.yang@quantpi.net
[ui "color"]
    ui = always
[color]
    ui = true
[core]
    autocrlf = input
    safecrlt = true
    editor = nvim
    filemode = false
[merge]
    tool = nvim -d
[alias]
    c = commit
    s = status
    st = status
    lg = log --oneline
    last = log -1 HEAD
    cl = log -p -- ':(exclude)Cargo.lock'
    f = push --force-with-lease

    ss = "!f() { git stash show stash^{/$*} -p; }; f"
    sa = "!f() { git stash apply stash^{/$*}; }; f"
    sl = stash list
[pull] 
    ff = only
[push]
    default = simple
[help]
    autocorrect = 1
[url "git@github.com:"]
    insteadOf = gh:
[github]
    user = likewtf1
[diff]
    algorithm = patience
    compactionHeuristic = true
[protocol]
    version = 2
[diff "odf"]
    textconv = odt2txt
[init]
    defaultBranch = main
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
